.git
.gitignore
.env
.env.*
.venv
venv
ENV
env
__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd
*.py[codz]
*.pyc.*
*.log
Docker*.log
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db
Desktop.ini
agent-tools
